<%= form_for(task) do |f| %>
 <% if task.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %> <br />
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter task name..." %><br>
   </div>
   <div class="form-group">
      <%= f.label :description %> <br />
      <p><%= f.text_area :description, class: 'form-control', placeholder: "Enter description..." %></p>
    </div>
    <div class="form-group">
      <%= f.label :deadline %> <br /> 
      <%= f.datetime_select :deadline, class: 'form-control' %> <br />
    </div>
    <div class="form-group">
      <br /><%= f.label :status %> <br />
      <%= f.select :status, Task::STATUS_OPTIONS, {}, class: 'form-control'%> <br />
    </div>
    <div class="actions">
      <br /><%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
